@import url("./common.blocks/main/main.css");
@import url("./common.blocks/main/header/header.css");
@import url("./common.blocks/main/header/title/header__title.css");
@import url("./common.blocks/main/header/banner/header__banner.css");
@import url("./common.blocks/main/button/button.css");
@import url("./common.blocks/main/underline/main__underline.css");

@import url("./common.blocks/main/form/form.css");
@import url("./common.blocks/main/form/content/form__content.css");
@import url("./common.blocks/main/form/content/input/form__input.css");
@import url("./common.blocks/main/form/content/label/form__label.css");
@import url("./common.blocks/main/form/content/underline/form__underline.css");
@import url("./common.blocks/main/form/content/help-link/form__help-link.css");
@import url("./common.blocks/main/form/content/button/form__button.css");
@import url("./common.blocks/main/form/content/icon/form__icon.css");

@import url("./common.blocks/main/footer/footer.css");
@import url("./common.blocks/main/footer/text/footer__text.css");

:root {
  --text-size: 1rem;
  --primary-color: blue;
  --dark-color: #202020;
  --grey-color: #b0b0b0;
  --light-grey-color: #f5f5f5;
  --light-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
