.form__label {
  position: absolute;
  top: calc(50% - var(--text-size) / 2);
  left: 0;
  padding-left: .8em;
  color: var(--dark-color);
  transition: all .3s ease;
  pointer-events: none;
}

.form__input:focus ~ .form__label,
.form__input:valid ~ .form__label
{
  top: -1.4em;
  font-size: calc(var(--text-size) - 4px);
  color: var(--primary-color);
  padding-left: 0;
}
